<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title> <%= full_title(yield(:page_title)) %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-lang="<%= I18n.locale %>">

    <%= yield :main_menu %>

    <main class="container mt-3">
      <%= render 'shared/flash' %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
      <%= debug(session) if Rails.env.development? %>
      <%#= debug(cookies) if Rails.env.development? %>
    </main>

  </body>
</html>
